<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <title>{{filename}} - Chris' Cloud Sharing Site</title>
    <link rel="shortcut icon" href="/static/icons/favicon.ico"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- FIREBASE & FIREBASE UI-->
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>

    <!-- CODE HIGHLIGHTING -->
    <link rel="stylesheet" id='darkTheme' href="/static/css/atom-one-dark.css" disabled>
    <link rel="stylesheet" id="lightTheme" href="/static/css/stackoverflow-light.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>


    <!-- CUSTOM CSS-->
    <!-- OTHER PROPERTIES-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- INITIALIZE FIREBASE-->
  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyB6bEl67ZxanQn2HkGZ4dADE3H2-vUHBAQ",
      authDomain: "jcrayb-cloud.firebaseapp.com",
      projectId: "jcrayb-cloud",
      storageBucket: "jcrayb-cloud.appspot.com",
      messagingSenderId: "46961130152",
      appId: "1:46961130152:web:eb0226d595ba870844609d"
    };
    firebase.initializeApp(firebaseConfig);
  </script>

<script>
function copyToClipboard(){
  var message_box = document.getElementById('response_text')
  text = window.location.href;
  console.log(text);
  navigator.clipboard.writeText(text);
  message_box.innerText = 'Link copied to clipboard!';
}
</script>  
<script src="https://files.jcrayb.com/files/config/file-sharing/theme.js"></script>
<!-- <script src="/static/js/theme.js"></script> -->
<link rel="stylesheet" href="https://files.jcrayb.com/files/config/file-sharing/themes.css">
</head>
<body onload="hljs.highlightAll(); setCodeTheme(); themed_items();">
  <!-- <div id="userSection">
    <div id="userInfoContainer"></div>
    <button id="signout" onclick="signOut()" class="text-center btn btn-primary" style="display:none;">Sign Out</button>
  </div>
  <a href="/"><button type="button" name="button">Return to main page</button></a> -->

<div class="container mt-md-4 mt-2">
  <div class="row w-100 mx-0 my-2">
    <div class="col-md-2 px-1 mt-2 mt-md-0">
      <button type="button" themed class="btn btn-light btn-sm w-100 btn-outline-dark" onclick="window.location.href = '{{raw}}'">Get raw file</button>
    </div>
    <div class="col-md-2 px-1 mt-2 mt-md-0">
        <button type="button" themed class="btn btn-light btn-sm w-100 btn-outline-dark" onclick="lightTheme()">Light theme</button>
    </div>
    <div class="col-md-2 px-1 mt-2 mt-md-0">
      <button type="button" themed class="btn btn-light btn-sm w-100 btn-outline-dark" onclick="darkTheme()">Dark theme</button>
    </div>
    <!--  -->
    <div class="col-md-2 px-1 mt-2 mt-md-0">
      <button type="button" themed class="btn btn-light btn-sm w-100 btn-outline-dark" onclick="copyToClipboard()">Share</button>
    </div>
    <div class="col-md-4 px-1 mt-2 mt-md-0">
      <p id='response_text' class="w-100"></p>
    </div>
  </div>
  {{parent_dir|safe}}
  <pre class="mt-2"><code class='language-{{language}}' style="display:block; width:100%; padding:20px; border-radius:10px; overflow-x:auto;" id='codebox'>{{content}}</code></pre>
</div>
</body>
</html>
